.App {
  align-items: center;
  background-color: #755eb1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  min-height: 100vh;
}

.app--title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}